:root {
    --primary-color: #0f9c0f;
    --secondary-color: #ffffff;
    --text-color: #004d00;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background-color: var(--secondary-color);
}


header, footer {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: #b5b5a2;
    padding-bottom: 17px;
    text-align: center;
}

footer{
    background-color: #0b520b;;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -82px;
}


h1{
    background-color: #0b520b;
    padding: 80PX 40PX 40PX 40PX;
    margin: 0;
}


main {
    max-width: 1000px;
    margin: 0 auto;
   
    
    
}

.section{
    margin-bottom: 70px;
}
section #hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hero img {
   width: 1000px;
   height: auto;
   border-bottom: 8px solid var(--primary-color);
}

.icon img{
    display: none;
}

#weather{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    text-align: center;

    margin-bottom: 20px;

}




.icon::after {
    content: '⛅';
}

@media screen and (min-width: 571px){
    .section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90%;
        gap: 10px;
        position: relative;
        margin: 30px;
    }
    #data{
        background-color: #d4e7d4;
        opacity: 90%;
        width: 250px;
        position: absolute;
        left: -20px;
        top: -500px;
        margin-top: -150px;
        padding: 10px;
    }

    #weather{
        background-color: #d4e7d4;
        opacity: 90%; 
        width: 200px;
        position: absolute;
        right: -20px;
        bottom: 65px;
        height: 250px;
        margin-left: 700px;
        padding: 10px;
        
    }

    .weather{
        background-color: #0b520b;
        color: rgb(184, 170, 170);
        margin-top: -5px;
        margin-right: 6px;
        margin-left: -15px;
        padding: 10px;
    }

    .data{
        background-color: #0b520b;
        color: rgb(184, 170, 170);
        padding: 10px;
        margin-top: -5px;
        margin-right: 12px;
        margin-left: -13px;

    }

    .icon img{
        display: block;
        position: absolute;
        top: -15px;
        left: 120px;
        margin: 10px;
    }

  
    
}



